.tooltip {
    width: rem(240);
    padding: rem(8) rem(12);
    @include flexbox(column, nowrap, flex-end, center, rem(4));
    color: var(--white);
    background-color: var(--black);
    p {
        align-self: flex-start;
        font-size: rem(14);
        line-height: 150%;
        background: none;
    }
    img {
        width: rem(12);
        height: rem(6);
    }

    &-secondary {}
}